@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
/**
*
* Testing
*
**/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  width: 10px;
  background-color: #ffffff;
  border-left: 0 solid #ffffff;
  border-right: 0 solid #ffffff;
  margin-block: 3px;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: #111111;
  width: 15% !important;
  height: 15% !important;
  border-radius: 50px;
}

::-webkit-scrollbar:hover {
  cursor: pointer;
}

::-moz-selection {
  /* code for firefox */
  color: #ffffff;
  background-color: #111111;
}

::selection {
  /* code for firefox */
  color: #ffffff;
  background-color: #111111;
}

/* end variables */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /*small*/
  /* tablet */
  /* Medium */
  /* desktop  */
}
@media (min-width: 577px) {
  .container {
    width: 550px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1300px) {
  .container {
    width: 1170px;
  }
}

/*! start variables*/
/*! end variables*/
/*! start Global Rules*/
:root {
  --bs-white: #fff;
  --bs-dark: #202020;
  --bs-black: rgba(17, 17, 17);
  --bs-secondary: #8a8a8e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  line-height: 1.15;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bs-black);
}

.text-secondary {
  color: var(--bs-secondary);
  font-size: calc(1.275rem + 0.3vw);
  font-weight: 300;
}

.text-subtitle {
  color: var(--bs-secondary);
  padding: 1rem 0rem;
  font-size: 1.25rem;
  font-weight: 300;
}

.lead {
  font-size: calc(1.2846rem + 0.4152vw) !important;
  font-weight: 300 !important;
  line-height: 1.5 !important;
}

.text-title {
  color: var(--bs-white);
  line-height: 1.2;
  font-size: calc(1.335rem + 1.02vw);
  font-weight: 500;
}

.text-big {
  line-height: 1.5;
  font-size: calc(1.475rem + 2vw);
}

.lighter {
  font-weight: lighter !important;
}

.line {
  border-bottom: 1px solid var(--bs-white);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.link-fancy {
  color: var(--bs-white);
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  position: relative;
}
.link-fancy:before {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  transform-origin: left;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, #fff 0, #fff 25%, transparent 0, transparent 50%, #fff 0, #fff 75%, transparent 0, transparent);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 400% 1px;
  transition: background-position 0.8s ease-in-out;
}
.link-fancy:hover:before {
  background-position: 100%;
}
.link-fancy:hover {
  color: var(--bs-secondary);
}

.btn {
  border: none;
  outline-style: none;
  border-radius: 99rem;
  background-color: var(--bs-white);
  border: 1px solid var(--bs-white);
  padding: 1.25rem 2.75rem;
  margin-top: 1.75rem;
}
.btn .btn-light {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--bs-dark);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 300;
}
.btn:hover {
  background-color: var(--bs-dark);
}
.btn:hover .btn-light {
  color: var(--bs-white);
  transform: scale(1.1);
}

html [data-pos=fade-left],
html [data-pos=fade-right],
html [data-pos=fade-up] {
  transition-duration: 0.8s;
  pointer-events: auto;
  transition-property: opacity, transform, -webkit-transform;
}
html [data-pos=fade-right] {
  -webkit-transform: translate3d(-100px, 0, 0);
  transform: translate3d(-100px, 0, 0);
}
html [data-pos=fade-left] {
  -webkit-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
}
html [data-pos=fade-up] {
  -webkit-transform: translate3d(0, 100px, 0) scale(0.6);
  transform: translate3d(0, 100px, 0) scale(0.6);
}
html [data-pos-duration="2000"] {
  transition-duration: 2s !important;
}
html [data-pos-duration="3000"] {
  transition-duration: 3s !important;
}
html [data-pos=fade-right].active,
html [data-pos=fade-left].active,
html [data-pos=fade-up].active {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

.section-show {
  scale: 0.9;
  opacity: 0;
  transition: 0.8s;
  transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
}

.section-show.active {
  opacity: 1;
  top: 0;
  scale: 1;
}

.up {
  position: fixed;
  bottom: 0.25rem;
  right: 0.25rem;
  background-color: var(--bs-white);
  color: var(--bs-dark);
  padding: 1rem;
  border-radius: 1rem 0rem;
  height: 3.5rem;
  width: 3rem;
  cursor: pointer;
  transition: 0.5s;
  display: none;
  transform: translatex(-40%) translatey(-40%);
}
.up:hover {
  scale: 0.95;
  opacity: 0.9;
}
.up svg {
  width: 1.5rem;
  height: 1.5rem;
}

.up.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 1.25rem 0;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: var(--bs-black);
  /* tablet */
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .logo {
  vertical-align: middle;
  text-decoration: none;
  color: var(--bs-white);
}
.header .container .logo .logo-text {
  margin-left: 0.25rem;
  font-size: 1.75rem;
  font-weight: 700;
}
.header .container .navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  gap: 3.75rem;
}
.header .container .navbar-nav .nav-item {
  position: relative;
}
.header .container .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: var(--bs-white);
}
.header .container .navbar-nav .nav-item .nav-link::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -1rem;
  left: 0;
  background-color: var(--bs-white);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.header .container .navbar-nav .nav-item .nav-link:hover {
  cursor: pointer;
}
.header .container .navbar-nav .nav-item .nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
  opacity: 0.6;
}
.header .container .menu {
  display: none;
}
@media (max-width: 768px) {
  .header .container .navbar-nav {
    display: none;
  }
  .header .container .add {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
  .header .container .add .navbar-nav {
    display: flex;
    flex-direction: column;
    background-color: var(--bs-dark);
    width: 80%;
    margin: 120px auto;
    padding: 40px 0;
    border-radius: 5px;
    gap: 30px;
  }
  .header .container .add .navbar-nav .nav-item .nav-link {
    color: var(--bs-white);
  }
  .header .container .menu {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    position: relative;
    cursor: pointer;
    z-index: 10;
  }
  .header .container .menu .menu-toggle {
    width: 30px;
    height: 2px;
    background-color: var(--bs-white);
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
  }
  .header .container .menu .menu-toggle::before, .header .container .menu .menu-toggle::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: var(--bs-white);
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
  }
  .header .container .menu .menu-toggle::before {
    transform: translateY(-8px);
  }
  .header .container .menu .menu-toggle::after {
    transform: translateY(8px);
  }
  .header .container .open .menu-toggle {
    transform: translateX(-50px);
    background: transparent;
  }
  .header .container .open .menu-toggle::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .header .container .open .menu-toggle::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  .header .container .open:hover {
    opacity: 0.8;
    transform: scale(1.2);
    color: var(--bs-dark);
  }
}

.footer {
  overflow: hidden;
  /*tablet*/
  /*small*/
}
.footer .container .row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2.25rem 0rem;
}
.footer .container .row .col-logo {
  width: 40%;
}
.footer .container .row .col-logo .logo {
  text-decoration: none;
  color: var(--bs-secondary);
}
.footer .container .row .col-line {
  border-left: 1px solid var(--bs-dark);
  border-right: 1px solid var(--bs-dark);
  padding: 0rem 1.75rem;
}
.footer .container .row .col span {
  font-weight: 500;
}
.footer .container .row .col .nav {
  list-style-type: none;
  padding-top: 1.125rem;
}
.footer .container .row .col .nav .nav-item {
  padding-bottom: 0.75rem;
}
.footer .container .row .col-links {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
}
.footer .container .line {
  border-color: var(--bs-dark);
}
.footer .container .made-by,
.footer .container .attribution {
  text-align: center;
  margin: auto;
}
@media (max-width: 768px) {
  .footer .container .row {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 4rem;
  }
}
@media (max-width: 576px) {
  .footer .container .row .col-links {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2rem;
  }
  .footer .container .row .col-line {
    border: initial;
    padding: 0rem;
  }
}

/*! end Global Rules*/
/*! start code */
.cont {
  max-width: 45rem;
}

.example .container .text-content {
  padding: 6rem 0;
  margin: auto;
}
.example .container .text-content .text-big {
  font-weight: 700 !important;
  font-size: calc(1.625rem + 4.5vw);
}
.example .container .text-content .text-big .fs {
  font-size: calc(1.305rem + 0.66vw) !important;
}
.example .container .image-content .img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 2rem;
}

.items {
  padding-top: 2rem;
  /*tablet*/
}
.items .container .item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
  padding: 2rem 0rem;
}
.items .container .item .col-text {
  max-width: 25.25rem;
  line-height: 1.4;
}
.items .container .item .col-text .text-title {
  border-top: 1px solid var(--bs-white);
  padding: 2.75rem 0rem 0rem;
}
.items .container .item .col-card {
  max-width: 45rem;
  background-color: var(--bs-dark);
  padding: 2rem;
  line-height: 1.4;
  border-radius: 1rem;
}
@media (max-width: 768px) {
  .items .container .item {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    gap: 4rem;
  }
}

.card {
  padding: 4rem 0rem;
}
.card .container .text-content {
  background-color: var(--bs-dark);
  padding: 2.25rem;
  border-radius: 2rem;
}

/*! end code *//*# sourceMappingURL=content.css.map */